Package: ws.hbang.codling
Name: Codling
Conflicts: com.saurik.iphone.ske
Depends: mobilesubstrate, firmware (>= 7.0), cydia, ws.hbang.common (>= 1.2)
Version: 1.0
Architecture: iphoneos-arm
Description: Blurred Cydia loading HUDs
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq
Section: Tweaks
