Package: ws.hbang.codling
Name: Codling
Depends: mobilesubstrate, firmware (>= 7.0), cydia (>= 1.1.19), ws.hbang.common (>= 1.9)
Version: 1.0.3
Architecture: iphoneos-arm
Description: Blurred Cydia loading HUDs
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://hbang.ws/support/
Section: Tweaks
